<h3>Coupon Form</h3>


  <!-- <label>Coupon Code:</label><br> -->
  <!-- <input type="text" id="post_title" name="coupon[coupon_code]"><br> -->

  <!-- <label>Coupon store:</label><br> -->
  <!-- <textarea id="coupon_store" name="coupon[store]"></textarea><br> -->

  <!-- <input type="submit" value="Submit Coupon"> -->
<!-- </form> %> -->

<%= form_tag('/coupons') do %>
<label>Coupon code:</label><br>
<%= text_field_tag :'coupon[coupon_code]' %><br>

 <label>Store:</label><br>
<%= text_field_tag :'coupon[store]' %>
<%= submit_tag "Submit Coupon" %>
<% end %>
